{
  "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/proposal-optional-chaining",
      "@babel/syntax-dynamic-import",
      [
          "react-css-modules",
          {
              "webpackHotModuleReloading": true
          }
      ]
  ],
  "presets": [
      "@babel/env",
      "@babel/flow",
      "@babel/react"
  ]
}