.calculator-app {
  @media (min-width: 599px) {
    margin: 20px 0;
  }

  i:before {
    font-size: inherit !important;
  }

  header {
    @media (min-width: 599px) {
      margin-bottom: 10px;
    }
  }

  button:focus,
  div:focus {
    outline: 0;
  }

  .header-content {
    @media (min-width: 599px) {
      width: 80%;
      margin: 20px auto;
    }

    @media (min-width: 769px) {
      margin: 10px 0;
      padding-right: 20px;
    }

    h1,
    h2 {
      font-family: "Open Sans";
      font-weight: 300;
      color: var(--color-blue);
      text-align: center;
      margin: 10px 0;
      font-size: 30px;

      @media (min-width: 599px) {
        text-align: left;
      }
    }

    h2 {
      color: var(--color-black);
      font-size: 24px;

      @media (min-width: 599px) {
        line-height: 30px;
      }
    }

    img {
      position: absolute;
      width: 100%;
      top: 50px;
      left: 0;

      @media (min-width: 599px) {
        top: 0;
        z-index: -1;
      }
    }
  }

  button {
    -webkit-appearance: none;
    border: none;
  }

  .header-copy {
    margin: 20px 0;

    @media (min-width: 599px) {
      margin-top: 30px;
    }
  }

  &.has-date {
    header {
      img {
        display: none;

        @media (min-width: 769px) {
          display: block;
        }
      }
    }

    .header-copy {
      margin-top: 20px;

      @media (min-width: 599px) {
        margin-top: 20px;
      }
    }
  }

  @media (min-width: 599px) {
    .header-content img {
      display: none;
    }
  }

  @media (min-width: 769px) {
    header {
      position: relative;
      display: flex;
      justify-content: flex-end;
    }

    .header-content {
      width: 45%;
      z-index: 5;
    }
  }
}

:global(.calc-app-mounted) :global(#top-nav) :global(.bottom) {
  display: none;

  @media (min-width: 599px) {
    display: block;
  }
}
