.birthdate-input {
  color: white;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-blue);

  &.active {
    input {
      padding: 1rem;
      text-align: center;
    }

    .button-container {
      height: auto;
    }
  }

  input {
    width: 100%;
    border: none;
    margin: 1rem;
    padding: 0.25rem;
    font-weight: 600;
    border-radius: 0.25rem;
    text-indent: 0.5rem;
    transition: all 0.2s ease;

    &::placeholder {
      color: var(--color-black);
    }

    &:focus {
      outline: 0;
    }
  }

  .button-container {
    height: 0;
    overflow: hidden;
  }

  button {
    background: white;
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-blue);
    border-radius: 0.25rem;

    &:focus {
      outline: 0;
    }
  }
}

.review-dates {
  display: flex;
  flex-direction: column;
}

.grade-adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade-display {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-gray);
}

.grade-adjust-buttons {
}

.info-tooltip {
}

.graduation-estimate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graduation-display {
  font-size: 2rem;
  color: var(--color-gray);
}
