.birthdate-display-container {
  margin: 20px 0;
  z-index: 999;
  position: relative;

  @media (min-width: 599px) {
    position: relative;
  }
}

.date-input-tooltip-container {
  width: 100%;
  margin: 0 auto 10px;
}

.birthdate-display {
  display: block;
  padding: 10px;
  border: 1px solid white;
  justify-content: space-between;
  background: var(--color-light-gray);
  pointer-events: all;

  .hero-copy {
    color: #9c2d3a;
    margin: 20px;
    margin-left: 0px;
    font-size: 16px;
  }

  @media (min-width: 599px) {
    border: none;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    justify-content: space-around;
    justify-content: space-evenly;
  }

  .birthdate-result-container {
    display: flex;
    width: 75%;

    dl {
      margin: 0;

      &:first-child {
        width: 45%;
      }
      &:last-child {
        width: 55%;
      }

      @media (min-width: 599px) {
        text-align: center;
      }
    }

    dt {
      font-size: 12px;
      font-weight: 300;
      margin: 0;

      @media (min-width: 599px) {
        font-size: 14px;
        font-weight: bold;
      }
    }

    dd {
      font-size: 14px;
      font-weight: 700;

      @media (min-width: 599px) {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .button-container {
    height: 0;
    overflow: hidden;
  }

  button {
    background: white;
    padding: 14px 28px;
    margin: 14px;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-blue);
    border-radius: 5px;

    &:focus {
      outline: 0;
    }

    &:disabled {
      color: var(--color-dark-gray) !important;
      cursor: not-allowed;
    }

    @media (min-width: 599px) {
      font-size: 16px;
      margin: 10px 0 0 0;
    }

    &.edit {
      background: var(--color-blue);
      color: white;
      padding: 0 20px;
      margin: 0;

      @media (min-width: 599px) {
        width: 75%;
        padding: 10px;
        margin: 5px 0px;
        font-size: 16px;
      }
    }
  }

  input {
    width: 100%;
    border: none;
    margin: 10px 0 5px;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    text-indent: 10px;
    transition: all 0.2s ease;
    text-align: center;
    background-color: white;
    &::placeholder {
      color: var(--color-black);
    }

    &:focus {
      outline: 0;
    }

    @media (min-width: 599px) {
      padding: 10px;
      text-align: center;
    }
  }

  .button-close {
    appearance: none;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: var(--color-dark-blue);
    font-size: 20px;
    padding: 10px;
    margin: 0;
    line-height: 0;
  }

  .edit-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    pointer-events: none;
    overflow: hidden;

    .display-edit {
      background: var(--color-blue);
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      color: white;
      padding: 20px 10px 10px 10px;
      transform: translateY(-100%);
      transition: transform 0.2s ease;
      will-change: transform;
    }

    &.active {
      pointer-events: all;

      .display-edit {
        transform: translateY(0);
      }
    }
  }

  .info-tooltip {
    padding: 0;
    background: transparent;
    margin: 0 10px;
    color: var(--color-yellow);

    i {
      font-size: 16px !important;
    }
  }

  .review-dates {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      &.update-info {
        width: calc(100% - 60px);
        display: block;
      }
    }
  }

  .grade-adjust {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grade-display {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-gray);
    margin: 0 0 0 20px;

    @media (min-width: 599px) {
      margin: 0;
    }
  }

  .grade-adjust-buttons {
    line-height: 0;
    margin: 5px 0 0 0;

    button {
      padding: 0;
      margin: 0 5px;
      background: transparent;
      color: inherit;
      font-size: 34px;

      i {
        font-size: 34px;
        &:before {
          font-size: 34px;
        }
      }
    }
  }

  .graduation-estimate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 0 0;
  }

  .graduation-display {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-gray);
    margin-left: 34px;

    @media (min-width: 599px) {
      margin: 0;
    }
  }

  .button-submit {
    align-self: center;
    font-size: 14px;
    margin-bottom: 40px;
  }
}
