.birthdate-input {
  color: white;
  font-weight: 400;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-blue);

  @media (min-width: 599px) {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
    padding: 30px;
  }

  > span {
    @media (min-width: 599px) {
      font-size: 24px;
    }
  }

  &.active {
    input {
      padding: 10px;
      text-align: center;
    }

    .button-container {
      height: auto;
    }
  }

  input {
    width: 100%;
    border: none;
    margin: 10px 0 5px;
    padding: 5px 0;
    font-weight: 600;
    border-radius: 5px;
    text-indent: 10px;
    transition: all 0.2s ease;

    &::placeholder {
      color: var(--color-black);
    }

    &:focus {
      outline: 0;
    }

    @media (min-width: 599px) {
      padding: 10px;
      text-align: center;
    }
  }

  .button-container {
    height: 0;
    overflow: hidden;

    @media (min-width: 599px) {
      height: auto;
    }
  }

  button {
    background: white;
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-blue);
    border-radius: 0.25rem;

    &:focus {
      outline: 0;
    }

    @media (min-width: 599px) {
      font-size: 16px;
      margin: 10px 0 0 0;
    }
  }

  .info-tooltip {
    padding: 0;
    font-size: 16px;
    background: transparent;
    color: var(--color-yellow);

    @media (min-width: 599px) {
      margin: 10px;
    }
  }
}

.review-dates {
  display: flex;
  flex-direction: column;
}

.grade-adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade-display {
  display: flex;
  align-items: center;
  line-height: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-gray);
  margin-left: 34px;
}

.grade-adjust-buttons {
  line-height: 0;
  margin: 5px 0 15px;

  button {
    padding: 0;
    margin: 0 5px;
    background: transparent;
    color: white;
    font-size: 34px;
  }
}

.graduation-estimate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graduation-display {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-gray);
  margin-left: 34px;
}

.button-submit {
  align-self: center;
}
