.birthdate-input {
  color: var(--color-blue);
  font-weight: 400;
  padding: 10px;
  font-size: 16px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  .hero-copy {
    color: #9c2d3a;
    margin: 20px;
    margin-left: 0px;
  }
  @media (min-width: 599px) {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
    padding: 30px;
  }

  > span {
    font-size: 15px;
    @media (min-width: 599px) {
      font-size: 12px;
    }
  }

  &.active {
    input {
      padding: 10px;
      text-align: center;
    }

    .button-container {
      height: auto;
    }
  }

  .date-input-tooltip-container {
    width: 90%;
  }

  input {
    width: 100%;
    border: 1px solid var(--color-gray);
    margin: 10px 0 5px;
    padding: 5px 0;
    font-weight: 600;
    border-radius: 5px;
    text-indent: 10px;
    transition: all 0.2s ease;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    &::placeholder {
      color: var(--color-black);
    }

    &:focus {
      outline: 0;
    }

    @media (min-width: 599px) {
      padding: 10px;
      text-align: center;
    }
  }

  .button-container {
    height: 0;
    overflow: hidden;

    @media (min-width: 599px) {
      height: auto;
    }

    .plan-caveat {
      display: block;
      padding: 0 25px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      margin-top: 10px;
      font-weight: bold;
      font-style: italic;

      @media (min-width: 599px) {
      }
    }
  }

  button {
    background: var(--color-blue);
    padding: 14px 28px;
    margin: 5px 0 5px 10px;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 4px;
    transition: color 0.2s ease;
    position: relative;
    overflow: hidden;

    &.button-submit {
      margin: 10px 0 0 0;
    }

    &:focus {
      outline: 0;
    }

    &:disabled {
      color: var(--color-dark-gray);
      cursor: not-allowed;
    }

    @media (min-width: 599px) {
      font-size: 16px;
      margin: 10px 0 0 0;
    }
  }

  .info-tooltip {
    padding: 0;
    background: transparent;
    color: var(--color-yellow);

    i {
      font-size: 16px !important;
    }

    @media (min-width: 599px) {
      margin: 5px 10px;
    }
  }
}

.review-dates {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: height 1s ease;
}

.grade-adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  transition: height 1s ease;
}

.grade-display {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
  margin-left: 15px;
  transition: height 1s ease;
}

.grade-adjust-buttons {
  line-height: 0;
  margin: 5px 0;

  button {
    padding: 0;
    margin: 0 5px;
    background: transparent;
    color: white;
    font-size: 0;

    i {
      font-size: 34px;
    }
  }
}

.graduation-estimate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.graduation-display {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
  margin-left: 15px;
}

.button-submit {
  align-self: center;
}
@-moz-document url-prefix() {
  input[type="date"] {
    width: auto;
  }
}
