.plan-table {
}
.def--info {
}
.def--uni {
}
.def--college {
}
.def--fees {
}
.def--dorm {
}
.def--cost {
}
.plan--C2--info {
}
.plan--C4--info {
}
.plan--P2--info {
}
.plan--U1--info {
}
.plan--U4--info {
}
.plan--C2--uni {
}
.plan--C4--uni {
}
.plan--P2--uni {
}
.plan--U1--uni {
}
.plan--U4--uni {
}
.plan--C2--college {
}
.plan--C4--college {
}
.plan--P2--college {
}
.plan--U1--college {
}
.plan--U4--college {
}
.plan--C2--fees {
}
.plan--C4--fees {
}
.plan--P2--fees {
}
.plan--U1--fees {
}
.plan--U4--fees {
}
.plan--C2--dorm {
}
.plan--C4--dorm {
}
.plan--P2--dorm {
}
.plan--U1--dorm {
}
.plan--U4--dorm {
}
.plan--C2--cost {
}
.plan--C4--cost {
}
.plan--P2--cost {
}
.plan--U1--cost {
}
.plan--U4--cost {
}

.note {
}

.price {
  color: black;
}

.starting {
  color: black;
}

.per {
  color: black;
}
