.plan-table {
  table {
    table-layout: fixed;
    width: 100%;
    min-width: 1000px;
    overflow-x: scroll;
    line-height: 18px;
    height: 0;
  }

  i {
    font-size: 24px;
  }

  :global(.fa-minus) {
    color: var(--color-dark-gray);
  }

  :global(.fa-check) {
    color: var(--color-blue);
  }
}

.info-tooltip {
  padding: 0;
  background: transparent;
  color: var(--color-yellow);
  margin: 0 5px;

  i {
    font-size: 16px;
  }
}

.def {
  width: 160px;
  padding-right: 20px;
}

.def--info {
  font-size: 16px;
  vertical-align: bottom;
  padding: 20px 20px 20px 0;

  &:after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--color-gray);
    margin-top: 10px;
  }
}

.def--uni {
}

.def--college {
}

.def--fees {
}

.def--dorm {
}

.def--cost {
  vertical-align: top;
  padding-top: 20px;
}

.plan--info {
  position: relative;
  padding: 10px 10px 20px 10px;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);

  .info-container {
    display: flex;
    height: 100%;
    flex-direction: column;

    p {
      flex-grow: 1;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 5px 0;
  }

  p {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 0.85em;

    .starting {
      color: var(--color-dark-gray);
      font-size: 14px;
      font-weight: 400;
    }

    .per {
      font-size: 16px;
    }

    &:after {
      display: block;
      content: "";
      height: 1px;
      width: 60%;
      background-color: var(--color-gray);
      margin-top: 10px;
    }
  }

  &.plan--C2 {
    h3 {
      color: var(--color-c2);
    }

    .note {
      background-color: var(--color-c2);
    }
  }

  &.plan--C4 {
    h3 {
      color: var(--color-c4);
    }

    .note {
      background-color: var(--color-c4);
    }
  }

  &.plan--P2 {
    h3 {
      color: var(--color-p2);
    }

    .note {
      background-color: var(--color-p2);
    }
  }

  &.plan--U1 {
    h3 {
      color: var(--color-u1);
    }

    .note {
      background-color: var(--color-u1);
    }
  }

  &.plan--U4 {
    h3 {
      color: var(--color-u4);
    }

    .note {
      background-color: var(--color-u4);
    }
  }
}

.plan--uni,
.plan--college,
.plan--fees,
.plan--dorm,
.plan--cost {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-blue);
  padding: 20px;
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
}

.plan--uni {
  padding-top: 0;
}

.plan--college {
  background-color: var(--color-lighter-gray);
}

.plan--dorm {
  padding: 15px;
  background-color: var(--color-lighter-gray);
}

.plan--cost {
  text-align: center;
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
  border-bottom: 5px solid var(--color-gray);

  .college-price {
    color: var(--color-dark-gray);

    &:after {
      display: block;
      content: "";
      height: 1px;
      width: 60%;
      background-color: var(--color-gray);
      margin: 20px auto;
    }

    .estimate {
      color: var(--color-blue);
    }
  }

  a {
    display: block;
    padding: 8px 10px;
    color: white;
    background-color: var(--color-blue);
    border-radius: 5px;
    font-size: 14px;

    &.email {
      background: white;
      color: var(--color-blue);
      border: 2px solid var(--color-blue);
      margin-top: 10px;
    }
  }

  &.plan--C2 {
    border-bottom-color: var(--color-c2);

    a.enroll {
      background-color: var(--color-c2);
    }
  }

  &.plan--C4 {
    border-bottom-color: var(--color-c4);

    a.enroll {
      background-color: var(--color-c4);
    }
  }

  &.plan--P2 {
    border-bottom-color: var(--color-p2);

    a.enroll {
      background-color: var(--color-p2);
    }
  }

  &.plan--U1 {
    border-bottom-color: var(--color-u1);

    a.enroll {
      background-color: var(--color-u1);
    }
  }

  &.plan--U4 {
    border-bottom-color: var(--color-u4);

    a.enroll {
      background-color: var(--color-u4);
    }
  }
}

.icon {
  width: 28px;
  margin-right: 5px;
  margin-top: -4px;
}

.icon--uni {
}

.icon--college {
}

.note {
  position: absolute;
  height: 35px;
  top: -35px;
  left: 0;
  right: 0;
  background-color: var(--color-gray);
  border-radius: 5px 5px 0 0;
  color: white;
  font-weight: 700;
  font-size: 16px;

  :global(.note-inner) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -2px;

    :global(.icon) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: #265c53;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    img {
      width: 22px;
    }
  }

  &:empty {
    display: none;
  }
}
