.plan-table {
  padding-top: 40px;

  table {
    table-layout: fixed;
    width: 100%;
    min-width: 1000px;
    max-width: 100%;
    line-height: 18px;
    height: 0;
    tr {
      td {
        vertical-align: middle;
        &.def--info {
          font-size: 16px;
          vertical-align: bottom;
        }
      }
      &:nth-child(2n + 3) {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &:nth-last-child(2) {
        background-color: transparent;
      }
    }
  }

  i {
    font-size: 24px;
  }

  :global(.fa-minus) {
    color: var(--color-dark-gray);
  }

  :global(.fa-check) {
    color: var(--color-blue);
  }
}

.info-tooltip {
  padding: 0;
  background: transparent;
  color: var(--color-yellow);
  margin: 0 5px;

  i {
    font-size: 16px !important;
  }
}

.def {
  width: 160px;
  padding: 10px 15px;
}

.def--info {
  font-size: 16px;
  padding: 20px 15px;
  padding-bottom: 0;

  &:after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--color-gray);
    margin-top: 10px;
  }
}

.def--uni {
}

.def--college {
  // background-color: var(--color-light-gray) !important;
  /* padding-left: 10px; */
}

.def--fees {
}

.def--nationwide {
}

.def--gift {
}

.def--transfer {
}

.def--scholarships {
}

.def--coverage {
}

.def--move {
}

.def--description {
}

.def--dorm {
  // background-color: var(--color-light-gray) !important;
}

.def--cost {
}

.def--enroll {
  vertical-align: top;
  padding-top: 20px;
}

.plan--info {
  position: relative;
  padding: 10px 10px 20px 10px;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);

  &:after {
    display: block;
    content: "";
    height: 1px;
    width: 60%;
    background-color: var(--color-gray);
    margin: -1px auto 0 auto;
  }

  .info-container {
    display: flex;
    height: 100%;
    flex-direction: column;

    p {
      flex-grow: 1;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 5px 0;
  }

  p {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
  }

  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 0.85em;
    height: 60px;
    position: relative;
    margin-bottom: 10px;

    .starting {
      color: var(--color-dark-gray);
      font-size: 14px;
      font-weight: 400;
    }

    .per {
      font-size: 16px;
    }
  }

  .note {
    position: absolute;
    height: 35px;
    top: -35px;
    left: 0;
    right: 0;
    background-color: var(--color-gray);
    border-radius: 5px 5px 0 0;
    color: white;
    font-weight: 700;
    font-size: 16px;

    :global(.note-inner) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: -2px;

      :global(.icon) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background: #265c53;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      svg {
        width: 22px;
      }
    }

    &:empty {
      display: none;
    }
  }

  &.plan--C2 {
    h3 {
      color: var(--color-c2);
    }

    .note {
      background-color: var(--color-c2);
    }
  }

  &.plan--C4 {
    h3 {
      color: var(--color-c4);
    }

    .note {
      background-color: var(--color-c4);
    }
  }

  &.plan--P2 {
    h3 {
      color: var(--color-p2);
    }

    .note {
      background-color: var(--color-p2);
    }
  }

  &.plan--U1 {
    h3 {
      color: var(--color-u1);
    }

    .note {
      background-color: var(--color-u1);
    }
  }

  &.plan--U4 {
    h3 {
      color: var(--color-u4);
    }

    .note {
      background-color: var(--color-u4);
    }
  }

  &.dimmed {
    color: var(--color-dark-gray);

    h3 {
      color: var(--color-dark-gray);
    }

    .note {
      background-color: var(--color-dark-gray);

      :global(.icon) {
        background: var(--color-gray);
      }
    }
  }
}

.icon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  margin-top: -4px;
  stroke: var(--color-blue);
  stroke-width: 5px;

  :global(.icon-uni_svg__flag) {
    fill: var(--color-blue);
  }

  :global(.icon-college_svg__flag) {
    fill: var(--color-blue);
  }
}

.icon--uni {
}

.icon--college {
}

.plan--info {
  padding-bottom: 0;
}

.plan--uni,
.plan--college,
.plan--fees,
.plan--dorm,
.plan--cost,
.plan--gift,
.plan--nationwide,
.plan--transfer,
.plan--scholarships,
.plan--coverage,
.plan--move,
.plan--description,
.plan--enroll {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-blue);
  padding: 20px;
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);

  .stack--hours {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .space-after {
    margin-right: 3px;
  }

  &.dimmed {
    color: var(--color-dark-gray);

    i {
      color: var(--color-dark-gray);
    }

    .icon {
      stroke: var(--color-dark-gray);

      :global(.icon-uni_svg__flag) {
        fill: var(--color-dark-gray);
      }

      :global(.icon-college_svg__flag) {
        fill: var(--color-dark-gray);
      }
    }
  }
}

.plan--uni {
}

.plan--dorm {
  .starting {
    display: block;
  }
}

.plan--cost {
  text-align: center;

  .college-price {
    color: var(--color-blue);

    .estimate {
      color: var(--color-blue);
    }
  }
  .clickable {
    cursor: pointer;
  }
}

.plan--move {
  border-bottom: 1px solid var(--color-gray);
}

.plan--description {
  text-align: center;
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
  vertical-align: top !important;
  padding: 20px 10px 0 10px;

  p {
    color: var(--color-black);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }
}

.plan--enroll {
  text-align: center;
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
  border-bottom: 5px solid var(--color-gray);

  .college-price {
    color: var(--color-blue);
    padding-bottom: 20px;

    .estimate {
      color: var(--color-blue);
    }
  }

  p {
    color: var(--color-black);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
  }

  a {
    display: block;
    padding: 8px 10px;
    color: white;
    background-color: var(--color-blue);
    border-radius: 5px;
    font-size: 14px;
    transition: opacity 0.2s ease;

    &.email {
      background: white;
      color: var(--color-blue);
      border: 2px solid var(--color-blue);
      margin-top: 10px;
    }
  }

  &.plan--C2 {
    border-bottom-color: var(--color-c2);

    a.enroll {
      background-color: var(--color-c2);
      &:hover {
        // background-color: #f37021;
        opacity: 0.85;
      }
    }
  }

  &.plan--C4 {
    border-bottom-color: var(--color-c4);

    a.enroll {
      background-color: var(--color-c4);
      &:hover {
        // background-color: #802755;
        opacity: 0.85;
      }
    }
  }

  &.plan--P2 {
    border-bottom-color: var(--color-p2);

    a.enroll {
      background-color: var(--color-p2);
      &:hover {
        // background-color: #0D1E56;
        opacity: 0.85;
      }
    }
  }

  &.plan--U1 {
    border-bottom-color: var(--color-u1);

    a.enroll {
      background-color: var(--color-u1);
      &:hover {
        // background-color: #b90037;
        opacity: 0.85;
      }
    }
  }

  &.plan--U4 {
    border-bottom-color: var(--color-u4);

    a.enroll {
      background-color: var(--color-u4);
      &:hover {
        // background-color: #00846d;
        opacity: 0.85;
      }
    }
  }

  &.dimmed {
    border-bottom-color: var(--color-dark-gray);

    a.enroll {
      background-color: var(--color-dark-gray);
    }
  }
}

.plan-caveat {
  display: block;
  padding: 0 25px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;

  @media (min-width: 599px) {
  }
}
