:global(.carousel__inner-slide) {
  display: inline-flex;
}

:global(.carousel__slider--horizontal) {
  display: inline-block;
}

.plan-card {
  width: 255px;
  height: 200px;
  overflow: hidden;
  padding: 10px;
  margin-right: 1rem;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);

  &.plan--1U {
    border-bottom: 5px solid var(--color-1u);

    .title {
      color: var(--color-1u);
    }

    .note {
      background: var(--color-1u);
    }
  }

  &.plan--4U {
    border-bottom: 5px solid var(--color-4u);

    .title {
      color: var(--color-4u);
    }

    .note {
      background: var(--color-4u);
    }
  }

  &.plan--2P {
    border-bottom: 5px solid var(--color-2p);

    .title {
      color: var(--color-2p);
    }

    .note {
      background: var(--color-2p);
    }
  }

  &.plan--2C {
    border-bottom: 5px solid var(--color-2c);

    .title {
      color: var(--color-2c);
    }

    .note {
      background: var(--color-2c);
    }
  }

  &.plan--4C {
    border-bottom: 5px solid var(--color-4c);

    .title {
      color: var(--color-4c);
    }

    .note {
      background: var(--color-4c);
    }
  }

  .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 5px;
  }

  .starting {
    display: block;
    color: var(--color-dark-gray);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  .price {
    display: block;
    font-size: 3rem;
    font-weight: 700;

    .per {
      font-size: 1.5rem;
    }
  }

  .note {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 245px;
    border-radius: 0 0 5px 5px;
    color: white;
    text-align: center;
    padding: 0.5rem 0;

    &:empty {
      display: none;
    }
  }
}
