.error {
  background-color: var(--color-light-grey);
  border: 2px solid var(--color-bad);
  color: var(--color-black);

  header {
    background-color: var(--color-bad);
    display: flex;
    align-items: center;
    padding: 1rem;

    &::before {
      @mixin icon;
      display: block;
      content: "error_outline";
      font-size: 2rem;
      line-height: 2rem;
    }

    span {
      font-family: IBM Plex Mono;
      margin: 0;
      margin-left: 0.5rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2rem;
    }
  }

  main {
    padding: 1rem;
  }
}
