:root {
  --color-blue: #2c3f7f;
  --color-black: #333;
  --color-yellow: #e2c548;
  --color-gray: #d7d7d7;
  --color-dark-gray: #b2b2b2;
  --color-light-gray: #f2f2f2;
  --color-1u: #932c39;
  --color-4u: #39836e;
  --color-2p: #3b2d52;
  --color-2c: #e37639;
  --color-4c: #762e54;
}

body {
  margin: 0;
  color: var(--color-black);
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial";
}

:global(#app-root) {
  max-width: 100%;
  overflow: hidden;
}
