:root {
  --color-blue: #2c3f7f;
  --color-black: #333;
  --color-yellow: #e2c548;
  --color-gray: #d7d7d7;
  --color-dark-gray: #b2b2b2;
  --color-light-gray: #f2f2f2;
  --color-lighter-gray: #f1f1f1;
  --color-1u: #932c39;
  --color-4u: #39836e;
  --color-2p: #3b2d52;
  --color-2c: #e37639;
  --color-4c: #762e54;
}

body {
  margin: 0;
  color: var(--color-black);
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial";
}

:global(#app-root) {
  max-width: 100%;
  overflow: hidden;
}

:global(.tippy-tooltip) {
  background: white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
  color: var(--color-black);
  border-radius: 0;
  text-align: left;
  padding: 10px 20px;

  h6 {
    color: var(--color-blue);
    font-size: 14px;
    font-weight: 700;
  }

  p {
    font-size: 12px;
    font-weight: 600;
  }
}

:global(.tippy-popper)[x-placement^="bottom"] [x-arrow] {
  border-bottom-color: white !important;
}

:global(.tippy-popper)[x-placement^="top"] [x-arrow] {
  border-top-color: white !important;
}
